@tailwind base;
@tailwind components;
@tailwind utilities;


main, article, section {
  background-color: #000000;
  color: #ffffff;
}
.glass-effect {
  /* The Magic: Blurs the background behind the element */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */

  /* Semi-transparent background */
  background-color: rgba(255, 255, 255, 0.05);

  /* Rounded Edges */
  border-radius: 16px;

  /* A subtle border to define the edge of the glass */
  border: 1px solid rgba(255, 255, 255, 0.2);

  /* Add some space inside the box */
  padding: 1.5rem 2rem;
  
  /* Optional: A subtle shadow to lift the element */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@keyframes galaxyBackground {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}


@layer base {
  :root {
    color-scheme: light dark;

    --light-mode-background: 240 240 240;
    --light-mode-foreground: 0 0 0;
    --light-mode-foreground-muted: 50 50 50;
    --dark-mode-background: 10 10 10;
    --dark-mode-foreground: 255 255 255;
    --dark-mode-foreground-muted: 205 205 205;
  }

  body {
    background-color: rgb(var(--light-mode-background));
    background: url('/myblog/stars-bg.jpg') no-repeat center center fixed; 
    background-size: 100% auto;

    animation: galaxyBackground 30s infinite ease-in-out;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(var(--dark-mode-background));
      background: url('/myblog/stars-bg.jpg') no-repeat center center fixed;
      background-size: 100% auto;
    }
  }
}
